<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue3 Demo - 2.3.2</title>
    <script src="https://unpkg.com/vue@next"></script>
    <style>
        div {
            width: 400px;
            background-color: darksalmon;
            margin: auto;
        }
    </style>
</head>

<body>
    <div id="Application">
        <h1 v-for="item in list">{{ item }}</h1>
        <button @click="click">逆序</button>
        <ul>
            <li v-for="(item, index) in handle(names)">
                {{ index + ": " + item.name}}
            </li>
        </ul>
    </div>

    <script>
        const App = {
            data() {
                return {
                    list: [1, 2, 3, 2, 5],
                    names: [
                        {
                            name: "Tom",
                            age: 8
                        },
                        {
                            name: "Jerry",
                            age: 7
                        },
                        {
                            name: "Mary",
                            age: 10
                        },
                        {
                            name: "Stephen",
                            age: 10
                        },
                    ]
                }
            },
            methods: {
                click() {
                    this.list.reverse()
                },
                handle(l) {
                    return l.filter(obj => obj.name == "Mary")
                }
            }
        }
        Vue.createApp(App).mount("#Application")
    </script>
</body>

</html>