<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue3 Demo - 3.4.3</title>
    <script src="https://unpkg.com/vue@next"></script>
    <style>
        div {
            width: 400px;
            background-color: moccasin;
            margin: auto;
        }
    </style>
</head>

<body>
    <div id="Application">
        <input type="checkbox" v-model="checkbox">
        <p>输入的内容（此时为布尔值）：{{ checkbox }}</p>
        <input type="checkbox" value="足球" v-model="checkList">足球
        <input type="checkbox" value="篮球" v-model="checkList">篮球
        <p>输入的内容：{{ checkList }}</p>
        <input type="radio" value="男" v-model="sex">男
        <input type="radio" value="女" v-model="sex">女
        <p>性别：{{ sex }}</p>
    </div>

    <script>
        const App = {
            data() {
                return {
                    checkbox: "",
                    checkList: [],
                    sex: ""
                }
            }
        }
        Vue.createApp(App).mount("#Application")
    </script>
</body>

</html>